<p-menubar>
  <ng-template pTemplate="start">
    <span class="m-4">ClickMaster</span>
  </ng-template>
  <ng-template pTemplate="end">
    <p-button class="m-4" [text]="true" (onClick)="openCart()">
      <p-badge [value]="badgeValue" /> Cart <i class="pi pi-shopping-cart"></i>
    </p-button>
    <p-button class="m-4" [text]="true" (onClick)="showSign()">
      <i class="pi pi-sign-in"></i> Sign in
    </p-button>
    <p-button class="m-4" [text]="true" (onClick)="joinNow()"> Join </p-button>
  </ng-template>
</p-menubar>
<p class="m-3">
  Welcome to ClickMaster feel free to go through the photos and place an order
  for Picha Mbao. Sign in with just your email to get started!
</p>
<app-gallery [galleryData]="data" [showCount]="true"></app-gallery>

<p-dialog [(visible)]="show" [modal]="true">
  <form [formGroup]="customerSignInForm" (ngSubmit)="customerSignIn()">
    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3">
        Welcome Back to ClickMaster
      </div>
    </div>

    <div>
      <label for="customer_email" class="block text-900 font-medium mb-2"
        >Email</label
      >
      <input
        type="text"
        pInputText
        formControlName="customer_email"
        class="w-full mb-3"
        name="customer_email"
        placeholder="Email address"
      />
      <small
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="block p-error mb-3"
      >
        <div *ngIf="email.errors?.['required']">Email is required</div>
        <div *ngIf="email.errors?.['email']">Email should be valid</div>
      </small>

      <div class="flex align-items-center justify-content-between mb-6">
        <div class="flex align-items-center">
          <p-checkbox
            id="rememberme1"
            [binary]="true"
            styleClass="mr-2"
          ></p-checkbox>
          <label for="rememberme1" class="text-900">Remember me</label>
        </div>
      </div>

      <button
        pButton
        pRipple
        label="Sign In"
        icon="pi pi-user"
        class="w-full"
        type="submit"
      ></button>
    </div>
  </form>
</p-dialog>

<p-dialog [(visible)]="join" [modal]="true">
  <form [formGroup]="customerJoinForm" (ngSubmit)="customerJoin()">
    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3">Join us Today!</div>
      <span class="text-600 font-medium line-height-3">With only an Email</span>
    </div>

    <div>
      <label for="email1" class="block text-900 font-medium mb-2">Email</label>
      <input
        type="text"
        pInputText
        formControlName="customer_join_email"
        class="w-full mb-3"
        name="customer_join_email"
        placeholder="Email address"
      />
      <small
        *ngIf="
          Customer_email.invalid &&
          (Customer_email.dirty || Customer_email.touched)
        "
        class="block p-error mb-3"
      >
        <div *ngIf="Customer_email.errors?.['required']">Email is required</div>
        <div *ngIf="Customer_email.errors?.['email']">
          Email should be valid
        </div>
      </small>

      <button
        pButton
        pRipple
        label="Join"
        icon="pi pi-user"
        class="w-full"
      ></button>
    </div>
  </form>
</p-dialog>

<p-dialog [(visible)]="preview" [modal]="true">
  <ng-template pTemplate="header">
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <p-button
        label="Clear Cart"
        [text]="true"
        severity="danger"
        icon="pi pi-eraser"
        (onClick)="clearCart()"
      >
      </p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="body">
    <p-table [value]="cartItems">
      <ng-template pTemplate="body" let-cartItem>
        <tr>
          <td>
            <div
              class="flex justify-content-center align-items-center surface-card shadow-2 p-3 border-round"
            >
              <div class="flex align-items-center justify-content-between mb-3">
                <div style="flex: 0 0 70px; margin-right: 10px">
                  <img
                    class="border-round"
                    style="width: 70px; height: 70px; object-fit: cover"
                    src="http://localhost:3000/getPhoto/{{ cartItem.Filename }}"
                    alt="{{ cartItem.Title }}"
                  />
                </div>
                <p-divider layout="vertical" />
                <div style="flex-grow: 1">
                  <p style="margin: 0; font-weight: bold">
                    {{ cartItem.Title }}
                  </p>
                  <p-divider />
                  <p style="margin: 0; color: gray">
                    {{ cartItem.Price | currency : "TZS" }}
                  </p>
                </div>
                <p-divider layout="vertical" />
                <div style="flex: 0 0 auto">
                  <p-button
                    icon="pi pi-times"
                    [rounded]="true"
                    severity="danger"
                    [text]="true"
                    (click)="removeItem(cartItem.ID)"
                  ></p-button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>
      Total Cost: <span>{{ total | currency : "TZS" }}</span>
    </p>
    <p-button label="Checkout" icon="pi pi-check" (onClick)="checkout()" />
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="payForm" [modal]="true">
  <form [formGroup]="customerPayForm" (ngSubmit)="pay()">
    <div class="text-center mb-5">
      <span class="text-600 font-medium line-height-3"
        >Enter Phone Number to pay for your Order</span
      >
    </div>

    <div>
      <label for="phoneNumber" class="block text-900 font-medium mb-2"
        >Phone Number</label
      >
      <input
        type="text"
        pInputText
        formControlName="phone"
        class="w-full mb-3"
        name="phone"
        placeholder="Phone number"
      />
      <small
        *ngIf="
          customerPayForm.get('phone')?.invalid &&
          (customerPayForm.get('phone')?.dirty ||
            customerPayForm.get('phone')?.touched)
        "
        class="block p-error mb-3"
      >
        <div *ngIf="customerPayForm.get('phone')?.errors?.['required']">
          Phone number is required
        </div>
        <div *ngIf="customerPayForm.get('phone')?.errors?.['pattern']">
          Phone number should be valid
        </div>
      </small>

      <button
        pButton
        pRipple
        label="Pay"
        icon="pi pi-user"
        class="w-full"
      ></button>
    </div>
  </form>
</p-dialog>

<p-dialog [(visible)]="providersDialog" [modal]="true" header="MNOs">
  <div class="text-center mb-5">
    <span class="text-600 font-medium line-height-3"
      >Choose a network provider</span
    >
  </div>
  <div class="card flex flex-wrap gap-3 justify-content-center">
    <img
      src="https://logodix.com/logo/590174.png"
      alt="Airtel"
      class="provider-img"
      (click)="provider('Airtel')"
    />

    <img
      src="https://logodix.com/logo/303474.png"
      alt="Vodacom"
      class="provider-img"
      (click)="provider('Vodacom')"
    />

    <img
      src="https://www.pngkey.com/png/detail/405-4057973_halotel-tanzania-has-submitted-its-prospectus-to-the.png"
      alt="Halotel"
      class="provider-img"
      (click)="provider('Halotel')"
    />

    <img
      src="https://logodix.com/logo/1762841.png"
      alt="Tigo"
      class="provider-img"
      (click)="provider('Tigo')"
    />
  </div>
</p-dialog>
