<app-scafold></app-scafold>
<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>
<p-table
  [value]="payments"
  [paginator]="true"
  [rows]="5"
  [tableStyle]="{ 'min-width': '40rem' }"
  [rowsPerPageOptions]="[5, 10, 20]"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 20%; text-align: center">ID</th>
      <th style="width: 20%; text-align: center">Created At</th>
      <th style="width: 20%; text-align: center">Order</th>
      <th style="width: 20%; text-align: center">Total Amount</th>
      <th style="width: 20%; text-align: center">Payment Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-payment>
    <tr>
      <td style="text-align: center">{{ payment.ID }}</td>
      <td style="text-align: center">
        {{ payment.CreatedAt | date : "dd/MM/yyyy" }}
      </td>
      <td style="text-align: center">{{ payment.Order_id }}</td>
      <td style="text-align: center">{{ payment.Amount }}</td>
      <td style="text-align: center">
        <i class="pi" [ngClass]="getClass(payment.Status)"></i>
      </td>
    </tr>
  </ng-template>
</p-table>
