<div class="flex justify-content-center align-items-center">
  <p-card
    header="Forget Password?"
    [style]="{ width: '360px' }"
    class="text-center mt-8"
  >
    <p class="m-0">We got you covered</p>
    <input
      type="email"
      name="email"
      pInputText
      placeholder="Enter you Email"
      id="email"
      class="col-9 m-2"
      [(ngModel)]="email"
    />
    <div class="m-2">
      <p-button (onClick)="sendEmail()">Send Email</p-button>
    </div>
    <p>You shall receive an email to reset your password</p>
  </p-card>
</div>
