<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>
<div class="flex justify-content-center align-items-center">
  <form [formGroup]="updatePasswordForm" (ngSubmit)="OnSubmit()">
    <p-card header="Update you password" [style]="{ width: '360px' }">
      <div class="field">
        <label for="oldPassword">Current Password</label>
        <input
          type="password"
          name="oldPassword"
          pInputText
          formControlName="oldPassword"
          placeholder="Enter you current password"
          id="oldPassword"
          class="col-9 m-2"
        />
        <small
          *ngIf="
            oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)
          "
          class="block p-error"
        >
          <div *ngIf="oldPassword.errors?.['required']">
            Password is required
          </div>
        </small>
      </div>
      <div class="field">
        <label for="password">New Password</label>
        <input
          type="password"
          name="password"
          pInputText
          formControlName="password"
          placeholder="Enter New Password"
          id="password"
          class="col-9 m-2"
        />
        <small
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="block p-error"
        >
          <div *ngIf="password.errors?.['required']">
            New Password is required
          </div>
        </small>
      </div>
      <div class="field">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          name="confirmPassword"
          pInputText
          formControlName="confirmPassword"
          placeholder="Confirm Password"
          id="confirmPassword"
          class="col-9 m-2"
        />
        <small
          *ngIf="
            confirmPassword.invalid &&
            (confirmPassword.dirty || confirmPassword.touched)
          "
          class="p-error"
        >
          <div *ngIf="confirmPassword.errors?.['required']">
            Confirm the Password
          </div>
        </small>
        <small
          class="block p-error"
          *ngIf="
          updatePasswordForm.errors?.['passwordMismatch'] &&
          confirmPassword.valid &&
          password.valid"
        >
          Password do not match
        </small>
      </div>

      <div class="flex justify-content-center m-2">
        <p-button [disabled]="updatePasswordForm.invalid" type="submit"
          >Update</p-button
        >
      </div>
    </p-card>
  </form>
</div>
